# Binários compilados
*.exe
*.out
*.test

# Diretórios de build/cache
bin/
build/
dist/

# Dados do Postgres (volume persistente do Docker)
postgres-data/

# Diretórios de dependência (caso use)
vendor/

# Arquivos temporários do sistema/editor
*.log
*.swp
*.tmp
*.bak
*.old

# Configs de editor
.vscode/
.idea/

# Arquivos gerados pelo Go
*.coverprofile
*.modcache

# Arquivos de sistema
.DS_Store

# Docker
*.env
.env.*
